@media (max-width: 740px) {
	.header__inner {
		flex-direction: column;
	}
	.menu {
		margin: 25px 0 0 0;
	}
	.menu .menu__link {
		padding: 20px 20px;
	}
}

@media (max-width: 480px) {
	.header__inner {
		font-size: 12px;
		line-height: 15px;
	}
	.menu .menu__link {
		padding: 15px 15px;
	}
}
@media (max-width: 400px) {
	.menu__item + .menu__item {
		padding-left: 0;
	}
	.menu .menu__link {
		padding: 15px 10px;
	}
}
@media (max-width: 1230px) {
	.bike__inner {
		flex-direction: column;
		align-items: center;
	}
	.bike__colum + .bike__colum {
		flex-basis: 630px;
		max-width: 90%;
		margin: 25px 0 0 0;
	}
	.bike__colum {
		max-width: 90%;
	}
	.bike__text {
		max-width: 80%;
		margin-bottom: 20px;
	}
}
