/*-------FONTS-------*/
@import 'normalize';

/*-------NORMALIZE-------*/
@import 'fonts';

%mainTitle {
	font-family: 'PlayfairDisplayRegular';
	font-size: 31px;
	color: rgb(17, 17, 17);
	line-height: 1.5;
}

%mainText {
	font-size: 21px;
	font-family: 'PlayfairDisplayRegular';
	color: rgb(102, 102, 102);
	line-height: 1.476;
	width: 800px;
}
